body {
    text-align: center;
}

.counter-name {
    text-align: center;
}

#counter {
    color: black;
}

#canvas {
    width: 900px;
    height: 450px;
    background-color: lightgrey;
}

.startNewGame {
    display: flex;
    justify-content: center;
    margin-top: 10px;
}